nav a {
  font-weight: 600;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 10px;
  color: rgb(57, 57, 161);
}
#mob-img {
  display: none;
}
#app {
  display: flex;
  margin-top: 50px;
  width: 100vw;
  height: fit-content;
}
.left {
  width: 40%;
  margin: auto;
}
.left img {
  margin: auto;
  margin-top: 0px;
  height: 680px;
}
.right {
  width: 60%;
  margin: auto;
  margin-top: 10px;
}

#taskInput {
  padding: 10px;
  width: 50%;
}

#addButton {
  padding: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 10px;
}

#taskList {
  list-style-type: none;
  padding: 0;
  width: 95%;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.add {
  margin: 2rem;
  margin-top: 70px;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
  width: 58%;
  padding: 0.5rem;
  margin: auto;
  margin-top: 10px;
  border: 2px solid rgb(165, 166, 167);
  transition: 0.9s;
}
li:hover {
  box-shadow: 2px 2px 5px rgb(159, 159, 159);
}
@media (max-width: 780px) {
  .left {
    display: none;
  }
  .right {
    width: 90%;
    margin: auto;
  }
  h1 {
    display: none;
  }
  #mob-img {
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 0px;
    top: 0;
  }
  .add {
    width: 100%;
    margin: 0%;
    margin-top: 5px;
    margin-bottom: 30px;
    display: flex;
  }
  #taskInput {
    width: 70%;
  }
  #addButton {
    padding: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  li {
    width: 94%;
  }
}
